
.ship-button {
    -fx-background-color: #4E9BC9;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}


.ship-button:hover {
    -fx-background-color: #39729B;
    -fx-transform: scale(1.03);
}


.ship-button:pressed {
    -fx-background-color: #346A87;
    -fx-transform: scale(0.98);
}
